# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/* COMANDOS - git Hub */

# 1. Clonar repositório
git clone https://github.com/usuario/meu-projeto.git

# 2. Entrar na pasta
cd meu-projeto

# 3. Criar branch para nova funcionalidade
git checkout -b feature-login

# 4. Fazer alterações nos arquivos
# (editar código)

# 5. Verificar status
git status

# 6. Adicionar arquivos
git add .

# 7. Commitar
git commit -m "criei tela de login"

# 8. Enviar para o GitHub
git push origin feature-login

# 9. Voltar para main e atualizar
git checkout main
git pull origin main

# 10. Unir a branch criada
git merge feature-login

# 11. Enviar main atualizada
git push origin main

# 12. Deletar branch local (opcional)
git branch -d feature-login